function touchStart(e, ownerInstance) {
  var instance = ownerInstance.selectComponent('.swipe-action-options');
  var state = ownerInstance.getState();
  state.optionWidth = instance.getDataset().width;
  state.startX = e.touches[0].clientX;
  state.isMoving = true;
}

function touchMove(e, ownerInstance) {
  var instance = ownerInstance.selectComponent('.swipe-action-ctn');
  var state = ownerInstance.getState();
  var moveX = 0;
  if(state.isMoving) {
    moveX = e.touches[0].clientX - state.startX + (state.isActive? -state.optionWidth: 0);
    if(moveX < 0 && moveX > -state.optionWidth) {
      state.translateX = moveX;
    }else if(moveX <= -state.optionWidth){
      state.translateX = -state.optionWidth;
    }else{
      state.translateX = 0;
    }
    instance.setStyle({
      'transform': 'translate3d(' + state.translateX + 'px, 0px, 0px)'
    })
  }
  return false;
}

function touchEnd(e, ownerInstance) {
  var instance = ownerInstance.selectComponent('.swipe-action-ctn');
  var state = ownerInstance.getState();
  state.isMoving = false;
  if(state.translateX > -state.optionWidth/2){
    closeOption(instance,state);
  }else{
    state.translateX = -state.optionWidth;
    instance.setStyle({
      'transform': 'translate3d(-' + state.optionWidth + 'px, 0px, 0px)',
      'transition': '.3s all ease-in-out',
    });
    state.isActive = true;
    return false;
  }
}

function onTap(e, ownerInstance) {
  var instance = ownerInstance.selectComponent('.swipe-action-ctn');
  var state = ownerInstance.getState();
  if(state.isActive){
    closeOption(instance,state)
  }else{
    ownerInstance.triggerEvent('onTap', {}, {});
  }
}

//关闭操作项
function closeOption(instance,state) {
  state.translateX = 0;
  instance.setStyle({
    'transform': 'translate3d(0px, 0px, 0px)',
    'transition': '.3s all ease-in-out',
  });
  state.isActive = false;
}

module.exports = {
  touchStart: touchStart,
  touchMove: touchMove,
  touchEnd: touchEnd,
  onTap: onTap,
}
